@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap');

body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #191716;
  font-size: 22px;
  color:white;
}

.Errorpage .card{
  padding: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.footer{
  text-align: center;
  padding-top: 40px;
}

input[type=text], input[type=password], select {
  color: white !important;
  background-color: #020202 !important;
  border: #020202;
  outline: none;
}

.alert-danger {
  color: white;
  background-color: #721c24;
  border-color: #721c24;
  margin-top: -20px;
}

.toast-body{
  color:black;
}

.popover-header{
  color: black;
}

h1,h2,h3,h4{
  color:white;
}

.jumbotron {
  border-radius: 0;
}

.Brand h2{
  color: white;
}

a{
  color:white;
}

.w-75 select{
  min-width: 100px;
}

#adminLogin{
  display: block;
  margin-right: auto;
  margin-left: auto
}

.btn-block {
  display: block;
  margin: 0 auto;
  width: 50%; 
  text-align: center;
}

#info{
  float:left;
  margin-left: 20px;
  margin-top: 10px;
}

.Brand{
  margin: 16px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 8px;
    text-align: center;
    padding-top: 20px;
}
.w-75{
  width: 45% !important;
  background-color: #2F2F2F;
}
.list-group-item{
  background-color: #2F2F2F;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col-3{
    display: inline-block;
}

.video-react{
  font-size: 16px !important;
}

.ImageLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    color: #fff;
    background-color: black !important;
    border-color: black !important;
}

.btn-primary:hover{
    color: #fff;
    background-color: #5A5A66 !important;
    border-color: #5A5A66 !important;
}

.btn-primary:active{
  color: #fff !important;
  background-color: #5A5A66 !important;
  border-color: #5A5A66 !important;
}

.btn-primary:visited{
  color: #fff !important;
  background-color: black !important;
  border-color: black !important;
}

.list-group-item-action{
  list-style: none;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
  
.NavBar{
  width: 100%;
  padding-bottom: 10px;
}
.NavBar >ul >li {
  float: left;
}

.navItems li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.navbar-light .navbar-toggler-icon{
  background-image: url('./menu.png');
}

.navItems li a:hover {
  background-color: #111111;
  color: white;
}

.btn-link {
  font-weight: 400;
  color:black;
  text-decoration: none;
}

button.btn-secondary{
  background-color: #565656;
  border-color: #565656;
}

.row button{
  width: 124px;
}

/* Media Queries*/
@media screen and (max-device-width: 500px) {
  body{
    font-size: 20px;  
  }
  
  .footer{
    text-align: center;
    padding-top: 40px;
  }

  .Brand{
    text-align: center;
  }

  .toast.show {	
    margin-bottom: 20px;	
  }

  .jumbotron {
    border-radius: 0;
    margin-top: -24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

  .btn-block {
    display: block;
    margin: 0 auto;
    width: 100%; 
    text-align: center;
  }

  .col-3{
    max-width: 40%;
  }

  .NavBar{
    width: 100%;
    display: inline-block;
    float:none;
  }

  .NavBar >ul >li {
    float: none;
    text-align: center;
  }
  
  .navItems li a {
    color: white;
    padding: 4px;
    text-decoration: none;
  }
  .video-react{
    font-size: 9px !important;
  }
  .w-75{
    width: 85% !important;
  }

  .card {
    text-align: center;
  }

  .btn-primary .btn-seconday {
    font-size: 20px;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  .h4 {
    font-size: 1rem;
  }

  .alert-danger h4{
    font-size: 1rem;
  }

  select {
    display: block;
    margin: 0 auto;
  }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .w-75{
    width: 70% !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
   #adminLogin .row{
     display: inline-block;
   }
}

